## .NET
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

## NuGet
*.nupkg
**/packages/*
project.lock.json
artifacts/

## OS
Thumbs.db
Desktop.ini
.DS_Store

## IDE
.idea/
*.sln.iml
.nc
